<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--声明:各DataSource的name 及 MapperScannerConfigurer的name,不要随意更改，否则会影响AOP的读写分离正常使用-->

    <bean id="parentDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close">
        <property name="driverClassName" value="${jdbc-driver}"/>
        <property name="url" value="${jdbc-url-jerry}"/>
        <property name="username" value="${jdbc-user-jerry}"/>
        <property name="password" value="${jdbc-password-jerry}"/>
        <property name="filters" value="stat"/>
        <property name="maxActive" value="20"/>
        <property name="initialSize" value="1"/>
        <property name="maxWait" value="5000"/>
        <property name="minIdle" value="1"/>
        <property name="timeBetweenEvictionRunsMillis" value="3000"/>
        <property name="minEvictableIdleTimeMillis" value="180000"/>
        <property name="validationQuery" value="SELECT 'x' FROM DUAL"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="poolPreparedStatements" value="false"/>
        <property name="maxPoolPreparedStatementPerConnectionSize" value="20"/>
        <!-- 超过时间限制是否回收 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 超时时间；单位为秒。300秒=5分钟 -->
        <property name="removeAbandonedTimeout" value="300"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
        <!--<property name="connectionInitSqls" value="set names utf8mb4;"/>-->
    </bean>

    <bean id="dsJerry_master" parent="parentDataSource">
        <property name="url" value="${jdbc-url-jerry}"/>
        <property name="username" value="${jdbc-user-jerry}"/>
        <property name="password" value="${jdbc-password-jerry}"/>
    </bean>

    <bean id="dsJerry_slave1" parent="parentDataSource">
        <property name="url" value="${jdbc-url-jerry-slave1}"/>
        <property name="username" value="${jdbc-user-jerry-slave1}"/>
        <property name="password" value="${jdbc-password-jerry-slave1}"/>
    </bean>

    <bean id="dsJerry_slave2" parent="parentDataSource">
        <property name="url" value="${jdbc-url-jerry-slave2}"/>
        <property name="username" value="${jdbc-user-jerry-slave2}"/>
        <property name="password" value="${jdbc-password-jerry-slave2}"/>
    </bean>

    <!--jerry数据源-->
    <bean id="dsJerry" class="com.sh.jerry.solution1.datasource.RoutingDataSource">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry key="master" value-ref="dsJerry_master"/>
                <entry key="slave1" value-ref="dsJerry_slave1"/>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="dsJerry_master"/>
    </bean>

</beans>